src/main/resources/schemas/equipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Equipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:integer" />
				<xs:element name="equipmentName" type="xs:string" />
				<xs:element name="equipmentType" type="xs:string" />
				<xs:element name="serialNumber" type="xs:string" />
				<xs:element name="roomId" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>